<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/gestionPerfil.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Anton&family=Figtree:ital,wght@0,300..900;1,300..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <title>Perfil</title>
</head>

<body>
  <main>
     <div class="circulos-decorativos">
    <div class="circulo c1"></div>
    <div class="circulo c2"></div>
    <div class="circulo c3"></div>
  </div>
    <section>
<div class="contenedor">
      <div class="contenido1">
        <img id="logo" src="../assets/images/logo.png" alt="">

        <nav>
          <div class="foto1">
            <img id="cybro" src="../assets/images/reverse.png" alt="">
            <a id="botonPrin" href="principal.html">Principal</a>
          </div>

          <div class="foto2">
            <img id="usua" src="../assets/images/fotoPerfil.png" alt="">
            <a id="botonPerfil" href="#">Perfil</a>
          </div>
        </nav>
      </div>

      <div class="separador"></div>
      </div>

      <div class="contenido2">

        <div class="cuadroConte">

        <div class="perfil">
          <img id="usuario" src="../assets/images/usuarioo.png" alt="">
          <div class="datosPerfil">
            <p id="nombreUsu">Pepe JOption Pein</p>
            <p class="data" id="apodo">Pepe-10</p>
            <p class="data">Se unió en junio 2025</p>
          </div>
          <button onclick="location.href='editarPerfil.html'" id="botonEditar">Editar Perfil</button>
        </div>

        <div class="separa"></div>
        </div>

        <div class="cuadroConte">
          <h2>Progreso</h2>
          <div class="padre">
            <div class="hijo1">
              <img id="git" src="../assets/images/Gitthub (1).png" alt="github">

              <div class="porcentaje1">
                <div class="progreso1">100%</div>
              </div>
            </div>


            <div class="hijo2">
              <img id="dato" src="../assets/images/dato (1) 1.png" alt="MySQL">

              <div class="porcentaje2">
                <div class="progreso2">75%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="circulos-decorativos">
    <div class="circulo c4"></div>
    <div class="circulo c5"></div>
    <div class="circulo c6"></div>
  </div>
  </main>
  <script src="../Js/gestionPerfil.js"></script>
</body>

</html>
