<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/mision.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Figtree:ital,wght@0,300..900;1,300..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Misión</title>
</head>

<body>
    <header>
        <a href="../index.html"><img id="imgLogo" src="../assets/images/logo.png" alt=""></a>

        <div class="botones">
            <button onclick="location.href='registro.html'" id="btnRegistro">Registrarse</button>
            <button onclick="location.href='InicioSesion.html'" id="btnSesion">Iniciar Sesión</button>
        </div>

    </header>
    <main>
        <section id="info1">
            <h1>Misión</h1>
            <div id="img-Info1">
                <img id="tamañoimg1" src="../assets/images/seccion1.png" alt="">
                <p id="texto1">Enseñar inglés técnico de forma dinámica, ayudando a que cada persona se sienta en
                    confianza mientras practica, descubra nuevas oportunidades y disfrute el proceso de aprender un
                    nuevo idioma en una área específica.</p>
            </div>
            <hr class="linea">
        </section>
        <section id="info2">
            <div id="img-Info2">
                <img id="tamañoimg2" src="../assets/images/seccion2.png" alt="">
                <p id="texto2">El inglés es clave a nivel mundial, especialmente en el desarrollo de software. Por eso
                    ofrecemos actividades que simulan situaciones laborales reales, ayudando a los usuarios a practicar
                    el idioma, mejorar sus habilidades y ganar confianza en contextos técnicos.</p>
            </div>
            <hr class="linea">
        </section>
        <section id="info3">
            <div id="img-Info3">
                <p id="texto3">El aprendizaje es más efectivo y agradable cuando es dinámico. Por eso, enseñamos de
                    forma activa y participativa, fomentando la motivación, la curiosidad y la comprensión real.</p>
                <img id="tamañoimg3" src="../assets/images/seccion3.png" alt="">
            </div>
        </section>
    </main>

</body>

</html>