<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/modulos.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Anton&family=Figtree:ital,wght@0,300..900;1,300..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
    <title>Módulos</title>
</head>
<body>
    <header>
    
        <a href="../index.html"><img id="imgLogo" src="../assets/images/logo.png" alt=""></a>
     
        <div class="botones">
            <button onclick="location.href='registro.html'" id="btnRegistro">Registrarse</button>
            <button onclick="location.href='inicioSesion.html'" id="btnSesion">Iniciar Sesión</button>
        </div>
        
    </header>

    <section>
        <h1 id="titulo"> Módulos</h1>

        <div id="cuadroInfo">
            <p id="texto">Explora esta plataforma diseñada para ayudarte a comprender el vocabulario esencial que se utiliza en entornos de programación y desarrollo. Aunque aún no estás registrado, puedes explorar los módulos disponibles.</p>

            <img id="cybro" src="../assets/images/Cybro.png" alt="">

            

        </div>

        <div class="linea"></div>

        <div class="modulo">

            <div class="cuadroGit">

            <button id="btnGitHub"><img id="git" src="../assets/images/Gitthub (1).png" alt=""></button>
                <div class="infoGit">
                    <p class="tex">Adquiere el conocimiento esencial del vocabulario de comandos utilizados en GitHub.</p>
                </div>
            </div>

            <div class="cuadroMySQL">
            <button id="btnDato"><img src="../assets/images/dato (1) 1.png" alt=""></button>
                <div class="infoDato">
                    <p class="texx">Adquiere el conocimiento esencial del vocabulario de los codigos utilizados en MySQL.</p>
                </div>
            </div>
        </div>

        <div class="decora">
            <img src="../assets/images/Ellipse 25.png" alt="">
            <div id="circulo">
            <img src="../assets/images/Ellipse 24.png" alt="">
            </div>

            <div id="circu">
            <img src="../assets/images/Ellipse 22.png" alt="">
            </div>
        </div>
    </section>
</body>
</html>