<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/principal.css">
  <title>Techspeak - Módulos</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Anton&family=Figtree:ital,wght@0,300..900;1,300..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

</head>
<body>
  <div class="side-bar-blue"></div>
  <div class="side-bar-blue right"></div>

  <div class="content-wrapper">
    <div class="main">
      <img src="../assets/images/logo.png" alt="Techspeak Logo" loading="lazy" style="width:100px; margin-bottom:40px;">
      <div class="section">
        <h2>Módulo Git</h2>
        <div class="btn">Comandos Básicos</div>
        <div class="btn">Manejo de Ramas</div>
        <div class="btn">Git Flow</div>
        <div class="btn">Git Remoto</div>
        <div class="btn">Git Hub</div>
      </div>
      <div class="section">
        <h2>Módulo BD</h2>
        <div class="btn">Agrupamiento</div>
        <div class="btn">Combinaciones</div>
        <div class="btn">Consultas Multitablas</div>
        <div class="btn">Comandos DDL</div>
        <div class="btn">Comandos DNL</div>
        <div class="btn">Diseño Relacional</div>
        <div class="btn">Consultas Select</div>
      </div>
    </div>

    <div class="sidebar">
      <!-- Seis burbujas decorativas -->
      <div class="circle one"></div>
      <div class="circle two"></div>
      <div class="circle three"></div>
      <div class="circle four"></div>
      <div class="circle five"></div>
      <div class="circle six"></div>

      <img src="../assets/images/usuarioo.png" class="avatar" alt="Avatar de usuario">
      <div class="username" id="apodo">Pepe-10</div>
      <button onclick="location.href='gestionPerfil.html'" class="profile-btn">Ver Perfil</button>
      <img src="../assets/images/cybroTranspa.png" alt="Robot" class="robot">
    </div>
  </div>

  <footer>
    <div><strong>Sobre nosotros</strong><br> <a href="">Misión</a><br><a href="">Método de enseñanza</a></div>
    <div><strong>Ayuda y soporte</strong><br><a href="../templates/servicioTecn.html">Asistencia técnica</a></div>
    <div><strong>Términos y privacidad</strong><br><a href="">Términos</a><br><a href="">Privacidad</a></div>
  </footer>

  <script src="../Js/principal.js"></script>
</body>
</html>
