<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/servicioTecn.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Figtree:ital,wght@0,300..900;1,300..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>chatbot techspeak</title>
</head>

<body>
    <header>
        <a href="../templates/principal.html"><img id="imgLogo" src="../assets/images/logo.png" /></a>
        <div id="informacion">
            <p id="perfil">Pepe-10</p>
            <img id="pp" src="../assets/images/fotoPerfil.png" />
        </div>
    </header>
    <section class="mid">
        <div class="chat-container">
            <div class="chat-header">Asistente Cybro</div>
            <div class="chat-body" id="chatBody">
                <div class="first-message">
                    <div class="message bot-message">
                        ¡Hola! Soy Cybro, tu asistente virtual. ¿En qué puedo ayudarte
                        hoy?
                    </div>
                    <img id="cybro" src="../assets/images/Cybro.png" />
                </div>
            </div>
            <div class="chat-footer">
                <input type="text" id="userInput" placeholder="Escribe tu mensaje aquí..." />
                <button id="sendBtn">Enviar</button>
            </div>
        </div>
    </section>
    <script src="../Js/servicioTecn.js"></script>
</body>

</html>